<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content h-fit rounded-xl mx-auto" (click)="$event.stopPropagation()">
    <div class="flex justify-between items-center w-full border-b-[1px] border-solid border-[#CCCCCC4D] outline-none">
      <h2 class="text-center text-2xl font-bold mb-4">Role</h2>
      <button (click)="closeModal()">
        <app-icon iconName="close" color="#F45859"></app-icon>
      </button>
    </div>

    <form [formGroup]="attributeForm" (ngSubmit)="submitForm()"
      class="space-y-4 flex items-center justify-center flex-wrap gap-2 mt-4">

      <div class="flex gap-6 items-center w-full">
        <div class="w-full">
          <label for="attributeName" class="block">Name <span class="text-[#FF3C3C]">*</span></label>
          <input type="text" id="attributeName" formControlName="name"
            class="mt-1 block w-full md:w-[240px] h-[40px] px-3 py-2 rounded-lg border-[1px] border-solid border-[#CCCCCC4D] outline-none">
        </div>

        <div class="w-full">
          <label for="status" class="block">Status</label>
          <div class="flex items-center gap-4">
            <label class="radio-label cursor-pointer">
              <input type="radio" id="active" formControlName="status" value="active" class="hidden">Active
            </label>
            <label class="radio-label cursor-pointer">
              <input type="radio" id="inactive" formControlName="status" value="inactive" class="hidden">Inactive
            </label>
          </div>
        </div>
      </div>

      <div class="flex items-center gap-4 mt-4 font-bold w-full">
        <button type="submit" class="bg-[#F45859] text-white px-4 py-2 w-[177px] h-[48px] rounded-[24px]">Save</button>
        <button (click)="closeModal()" type="button"
          class="text-[#F45859] px-4 py-2 w-[177px] h-[48px] rounded-[24px] border-[1px] border-solid border-[#F45859]">Cancel</button>
      </div>
    </form>
  </div>
</div>
