.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #15CF74;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  right: 2%;
  bottom: 30px;
  z-index: 1000;
  font-size: 17px;

  &.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  &.error {
    background-color: #E50505;
  }

  svg {
    scale: 0.67;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 640px) {
  .snackbar {
    font-size: 14px;

    svg {
      scale: 0.5;
    }
  }
}
