<section class="flex justify-center w-full h-full">
  <div class="overflow-x-auto w-full">
    <div
      class="flex justify-between items-center w-full rounded-t-[16px] bg-white px-4 py-3 border-b-[1px] border-solid border-[#CCCCCC]">
      <span class="font-semibold text-[20px]">{{ label }}</span>

      <div class="flex justify-center items-center gap-4">
        <button (click)="openModal('add', null)"
          class="flex items-center justify-evenly bg-[#F45859] hover:bg-[#d14044] rounded-[8px] w-[140px] h-[48px] text-white font-bold text-[20px]">
          <img src="assets/images/add-item.svg" alt="add-item"> Add Role
        </button>
      </div>
    </div>

    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <!-- <thead class="text-left">
        <tr>
          <th class="whitespace-nowrap px-4 py-5 font-medium text-[#555457]">Name</th>
          <th class="whitespace-nowrap px-4 py-5 font-medium text-[#555457]">Symbol</th>
          <th class="whitespace-nowrap px-4 py-5 font-medium text-[#555457]">Code</th>
          <th class="whitespace-nowrap px-4 py-5 font-medium text-[#555457]">Exchange Rate</th>
          <th class="whitespace-nowrap px-4 py-5 font-medium text-[#555457]">Action</th>
        </tr>
      </thead> -->

      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let role of roles; let isOdd = odd" [class.odd-bg]="!isOdd"
          class="flex items-center justify-between">
          <td class="whitespace-nowrap px-4 py-2 text-[#555457]">{{ role.name }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-[#555457] flex items-center gap-4">
            <!-- Delete Button -->
            <button (click)="openItemDetails(role)"
              class="w-[122px] h-[40px] flex justify-center items-center gap-2 border-[1px] border-solid border-[#FF3C3C] rounded-lg text-[#FF3C3C] font-medium">
              <app-icon iconName="key" color="#FF3C3C"></app-icon>

              Permission
            </button>

            <!-- Edit Button -->
            <button (click)="openModal('edit', role)"
              class="w-[77px] h-[40px] flex justify-center items-center gap-2 border-[1px] border-solid border-[#328DE0] rounded-lg text-[#328DE0] font-medium">
              <app-icon iconName="edit" color="#328DE0"></app-icon>

              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-role-dialog *ngIf="isModalOpen" (close)="isModalOpen = false" [role]="selectedRole"></app-role-dialog>
  </div>
</section>
